a,
section.main .content .markdown a code {
  color: #4a49bb !important;
}
a:hover,
section.main .content .markdown a code:hover {
  color: #03027c !important;
}
section.footer {
  margin-top: 0em;
  padding-bottom: 60px;
}
section.footer .container a {
    color: #666666 !important;
}
@media (min-width: 600px) {
  section.main.post {
    padding-bottom: 0px;
  }
}
